* { box-sizing:  border-box ;}

body { 
    width: 100vw ;
    height:  100vh ;
    display:  flex ;
    justify-content:  space-around ;
    align-items: center;

}



form  {
    width:  max(100px , 20vw);
    aspect-ratio: 1/1.2 ;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;


}
.title { 
    grid-row: 1/2;
}
.author { 
    grid-row: 2/3;
}
.pages { 
    grid-row: 3/4;
}
.submit { 
    grid-row: 4/5;
}
form > div { 
    display: flex ;
    flex-direction: column;

}
.container {
    width: max(300px , 40vw);
    aspect-ratio: 1/1;
    border: 2px solid black;
    border-radius: 20px;
    display: grid ;
    grid-template-columns: repeat(3 ,1fr);

}

.container > div { 
    border: 2px solid blue;
    border-radius: 10px;
    margin: 10px;

}